src/main/resources/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="tabela_kursow">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="numer_tabeli"/>
                <xs:element type="xs:date" name="data_notowania"/>
                <xs:element type="xs:date" name="data_publikacji"/>
                <xs:element name="pozycja" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="nazwa_waluty"/>
                            <xs:element type="xs:byte" name="przelicznik"/>
                            <xs:element type="xs:string" name="kod_waluty"/>
                            <xs:element type="xs:string" name="kurs_kupna"/>
                            <xs:element type="xs:string" name="kurs_sprzedazy"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="typ"/>
        </xs:complexType>
    </xs:element>
</xs:schema>